.main-content {
    height: 100%;
    min-height: 100vh;

    ul {
        list-style-type: circle;
    }

    li {
        color: white;
        font-size: 23px;
    }
}

.row {
    width: 100%;
    display: flex;
    gap: 100px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.row-reverse {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .row, .row-reverse {
        gap: 0;
    }

    p.description {
        margin: 0;
    }
}

.description {
    max-width: 450px;
    align-self: center;
}

.c2p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: 600px;
    p {
        font-size: 23px;
    }
}

.p-img-gap {
    width: 100%;
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    padding: 20px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: var(--highlight);
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: white;
}

.img-desc {
    text-align: center;
    color: var(--highlight);
    font-size: 30px;
}

.key {
    color: var(--highlight);
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 200px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .vid-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .vid {
        width: 500px;
        height: 300px;
    }

    @media (max-width: 560px) {
        .vid-group {
            width: 100%;
        }

        .vid {
            width: 100%;
            margin: 10px;
        }
    }

    .img-group {
        width: 400px;
        max-width: 450px;
        height: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        overflow: hidden;
        align-items: center;
    }

    a {
        color: white;
        text-decoration: underline;
    }
}

.full-img {
    width: 600px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 425px) {
    .full-img {
        width: 100%;
    }

    .c2p {
        width: 100%;
    }
}

.full-img-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .full-img {
        width: 90%;
    }

    .full-img-wrap {
        align-content: center;
    }
}


@media (max-width: 769px) {
    .layout {
        flex-direction: column;
        /* gap: 40px; */
        margin: 0px;
        align-items: center;
    }

    .feature-img {
        width: 100%;
    }

    .text-group {
        width: 100%;
    }
}

@media (max-width: 426px) {
    .title {
        font-size: 30px;
    }
}

.top-left {
    width: 250px;
    vertical-align: top;
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
    z-index: 3;
    p {
        font-size: 25px;
    }
}

.top-left:hover {
    p, a {
        color: var(--highlight);
    }

}