/* **************************** */
/* Defaults */
/* **************************** */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
    --dark-gray: rgb(24, 24, 24);
    --highlight: #f8f2bf;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

p {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--dark-gray);
}

* {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* **************************** */
/* Navbar */
/* **************************** */

.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    transition: 0.6s;
}

.nav-links {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}

.nav-links [type=checkbox] {
    display: none;
}

.menu {
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;

    .menu-box {
        padding: 15px 25px 15px 25px;
    }

    .link {
        color: white;
    }

    .active {
        background-color: white;
    
        .link {
            color: black;
        }
    }

    .menu-box:hover {
        background-color: white;
        transition: 0.6s;
        .link {
            color: black;
        }

    }
    
}

/* Footer */
.footer {
    margin: 250px 0 50px 0;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-center {
    display: flex;
    max-width: 800px;
    width: 100%;
    min-width: 300px;
    justify-content: center;
}

.footer-border {
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.footer-group {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;

    h3 {
        color: var(--highlight);
        font-size: 30px;
    }

    ul {
        padding: 0;
    }

    h3 {
        margin: 0;
    }

    a {
        color: inherit;
    }

    li {
        padding-top: 10px;
        transition: 0.6s;
    }

    li:hover {
        color: var(--highlight);
        transition: 0.6s;
        scale: 1.1;
    }

    .copyright {
        width: 100%;

        p {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-content {
        gap: 0px;
        flex-direction: column;
    }

    .navbar {
        position: fixed;
    }

    .footer-group {
        padding: 10px;
    }

    .nav-links {
        justify-content: flex-end;
        padding-right: 30px;
    }

    .menu {
        margin: 0px 10px 0px 10px;
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        text-align: center;
        transition: 0.6s;
    }

    .link {
        height: 100%;
        width: 100%;
        display: block;
        padding: 15px;
    }

    .menu li {
        position: relative;
        padding: 0;
    }

    .menu li:hover {
        background-color: white;
        transition: 0.6s;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
        transition: 0.6s;
    }

    .hamburger {
        display: block;
        transition: 0.6s;
    }
}