/* **************************************** */
/* Colour Palatte */
/* **************************************** */
:root {
    --neon-green: #65e0ce;
    --dark-green: #1e423d;
    --light-green: #55bdad;
    --white: #ffffff;
    --black: #000000;
    --dark-blue: #051640;
}

/* **************************************** */
/* Default */
/* **************************************** */

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--black);
}

/* **************************************** */
/* Index Background Animation */
/* **************************************** */

.bg-animation {
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    z-index: -100;
    position: relative;
    aspect-ratio: 1/1;
    width: 50px;
    opacity: 0.1;

    background: white;
    border-radius: 8px;
    margin: 0 8px;
    box-shadow: 0 0 0 2px white, 0 0 4px white, 0 0 6px white;
    animation: animate 30s linear infinite;
    animation-duration: calc(200s / var(--i));
}

.bubbles span:nth-child(even) {
    background: white;
    box-shadow: 0 0 0 2px white, 0 0 4px white, 0 0 6px white;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(2);
    }
}

@media screen and (max-width: 690px) {
    .bubbles span {
        border-radius: 8px;
        margin: 0 3px;
        width: 40px;
        aspect-ratio: 1/1;
        box-shadow: 0 0 0 1px white, 0 0 2px white, 0 0 3px white,
    }

    .bubbles span:nth-child(even) {
        box-shadow: 0 0 0 1px #ff2d7544, 0 0 2px #ff2d75, 0 0 3px #ff2d75;
    }

    @keyframes animate {
        0% {
            transform: translateY(100vh) scale(0);
        }

        100% {
            transform: translateY(-10vh) scale(5);
        }
    }
}

/* **************************************** */
/* Navbar */
/* **************************************** */

.nav {
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: center;

    .nav-list {
        border-radius: 8px;
        border: 2px solid rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        list-style-type: none;
        margin: 15px;
        padding: 0;
        overflow: hidden;
    }

    .nav-link {
        color: var(--white);
    }

    .nav-item:hover {
        background-color: white;

        .nav-link {
            color: black;
        }
    }
}

/* **************************************** */
/* Intro Section */
/* **************************************** */

#intro-section {
    z-index: 0;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    place-content: center;

    .intro-start {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;

        .display-1 {
            color: var(--white);
            font-weight: bold;
        }

        /* **************************************** */
        /* I'm a ____ Animation */
        /* **************************************** */

        .h4 {
            color: var(--light-green);
            min-width: 300px;
            text-align: start;
        }

        .h4 span {
            position: absolute;
            margin-left: 6px;
        }

        .h4 span::before {
            content: "Web Developer";
            color: var(--neon-green);
            animation: words 20s infinite;
        }

        .h4 span::after {
            content: "";
            position: absolute;
            width: calc(100% + 8px);
            height: 100%;
            color: var(--black);
            background-color: var(--black);
            border-left: 2px solid var(--neon-green);
            right: -8px;
            animation: cursor .8s infinite, typing 20s steps(14) infinite;
        }
    }
}



@keyframes cursor {
    to {
        border-left: 3px solid #1e423d;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Web Developer"
    }

    21%,
    40% {
        content: "Android Developer"
    }

    41%,
    60% {
        content: "UI/UX Designer"
    }

    61%,
    80% {
        content: "Gamer"
    }

    81%,
    100% {
        content: "Student"
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/* **************************************** */
/* About Section */
/* **************************************** */

#about-section {
    background: linear-gradient(var(--black), var(--dark-blue), var(--black));
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;

    .h3 {
        padding-top: 70px;
        padding-bottom: 50px;
        text-align: center;
        color: var(--neon-green);
        font-weight: bold;
    }

    .about-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .item {
            display: flex;
            justify-content: center;
            color: var(--white);
            gap: 20px;
            flex-wrap: wrap;
        }

        .Pic {
            aspect-ratio: 1/1;
            width: 300px;
            object-fit: cover;
            display: block;
            object-position: center;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            transition: 0.5s;
        }

        .Pic:hover {
            filter: grayscale(100%);
            transition: 0.5s;
        }

        .blur-load {
            background-size: cover;
            background-position: center;
        }

        .text {
            text-align: start;
            max-width: 300px;
        }
    }

    /* **************************************** */
    /* Expertise Section */
    /* **************************************** */

    .expertise-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin: 20px;
    }

    .text-group {
        width: 600px;
    }

    .text-bg {
        color: var(--white);
        font-size: 30px;
        padding: 10px;
        border-radius: 8px;
    }

    .exp-cat {
        float: right;
        display: none;
        font-size: 20px;
    }

    .text-bg:hover {
        transition: 0.5s;
        background-color: var(--white);
        color: black;
        scale: 1.1;

        .exp-cat {
            display: block;
            color: black;
        }
    }

}

/* **************************************** */
/* Project Feature Section */
/* **************************************** */

#project-section {
    background: linear-gradient(var(--black), #04222E, var(--black));
    z-index: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;

    .h3 {
        padding-top: 70px;
        text-align: center;
        color: var(--neon-green);
        font-weight: bold;
    }
}

.feature-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.f-project {
    width: 400px;
    height: 500px;
    border-radius: 8px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    position: relative;
}


.f-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.f-project p {
    color: black;
    font-weight: bold;
    top: 0;
    transition: 0.5s;
    font-size: 70px;
    opacity: 0;
}

.f-project-desc {
    transition: 0.5s;
}

.f-center {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.f-project:hover {
    .f-img {
        opacity: 0.1;
        transition: 0.5s;
        filter: blur(50px);
    }

    .f-project-desc {
        opacity: 1;
        transition: 0.5s;
    }
}

/* **************************************** */
/* Contact Section */
/* **************************************** */

#contact-section {
    height: 40vh;
    width: 100%;
    padding: 0;
    margin: 0;

    .h3 {
        padding-top: 50px;
        text-align: center;
        color: var(--neon-green);
        font-weight: bold;
    }

    .contact-wrap {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .contact-content {
        color: white;

        .link {
            color: white;
            text-decoration: none;
            border-radius: 8px;
        }

        .con-g {
            width: 100%;
            padding: 10px;
            text-decoration: none;
            color: inherit;
            border-radius: 8px;
        }

        .con-g:hover {
            background-color: white;
            color: black;
        }
    }

}

/* **************************************** */
/* Project Template */
/* **************************************** */

.project-title {
    width: 100%;
    text-align: center;
    color: var(--neon-green);
    padding-top: 90px;
    font-weight: bold;
}

.project-main {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.project-main-img {
    width: 400px;
    object-fit: scale-down;
    object-position: 50% 100%;
}

.project-desc {
    width: 500px;
    color: var(--white)
}

.project-link-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    gap: 100px;
}

.project-essentials {
    display: flex;
    flex-direction: column;
}

.project-essentials-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-essentials h4 {
    color: var(--light-green);
    margin: 0;
}

.p-line {
    width: 150px;
    height: 1px;
    background-color: var(--light-green);
}

.project-link {
    margin-top: 10px;
    color: var(--white);
}

/* **************************************** */
/* Project Navbar */
/* **************************************** */

.list-bg {
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: center;

}

.list {
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    list-style-type: none;
    margin: 15px;
    padding: 0;
    overflow: hidden;
}

.list-item {
    color: var(--white);
    padding: 8px;
}

.item {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.list-item:hover {
    background-color: white;

    .item {
        color: black;
    }
}

/* **************************************** */
/* List of Projects */
/* **************************************** */

.pl-title {
    width: 100%;
    text-align: center;
    color: var(--neon-green);
    padding-top: 150px;
    font-weight: bold;
}

.pl-container {
    width: 100%;
    min-height: 50vh;
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.pl-card {
    position: relative;
    width: 250px;
    min-height: 400px;
    height: 100%;
    background-color: black;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.pl-img {
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}

.pl-desc {
    color: white;
    padding: 5px;
}

.pl-link {
    text-decoration: none;
}

.pl-card:hover {
    scale: 1.2;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.5);

    .pl-desc {
        color: black;
    }
}